<!DOCTYPE html>
<html>
	<head>
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	</head>

	<body>
		
		<button id="redirect-sign-in">Sign in with Google</button>
		
		
		
		
		<script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-auth.js"></script>

		<script>
 			var firebaseConfig = {
				apiKey: "AIzaSyCWXdv_oW7_ey7UHD4jV8w6ZXvzlbHAsYA",
				authDomain: "grizz-park.firebaseapp.com",
				databaseURL: "https://grizz-park.firebaseio.com",
			        projectId: "grizz-park",
				storageBucket: "",
				messagingSenderId: "459579355047",
				appId: "1:459579355047:web:964448aa468237e3391082"
			};
			
			firebase.initializeApp(firebaseConfig);
		</script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>    
		<script>
			function toggleSignIn() {
				if(!firebase.auth().currentUser) {
					var provider = new firebase.auth.GoogleAuthProvider();
					firebase.auth().signInWithRedirect(provider);
				} else {
					firebase.auth().signOut();
				}
			}

			function initApp() {
				firebase.auth().getRedirectResult().then(function(result) {
					console.log(result.user);
				}).catch(function(error) {
					console.error(error);
				});

				firebase.auth().onAuthStateChanged(function(user) {
					if(user) {
						console.log(user.displayName);
						console.log(user.email);
						console.log(uid);
					} else {
						console.log("Signed Out");
					}
				});

				document.getElementById("redirect-sign-in").addEventListener('click', toggleSignIn, false);
			}
		

			window.onload = function() {
				initApp();
			};
		</script>
	</body>
</html>
	
