#app{font-family:Avenir,Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-align:center;color:#000000}
#nav{padding:30px}
#nav a{font-weight:700;color:#2c3e50}
#nav a.router-link-exact-active{color:#42b983}
body{background-image:url(https://images.unsplash.com/photo-1506521781263-d8422e82f27a?auto=format&fit=crop&ixid=eyJhcHBfaWQiOjEyMDd9&ixlib=rb-1.2.1&q=80&w=1950)}
#.button{background-color:red;width:200px}
.button{margin:auto;width:233px;height:50pxS;vertical-align:middle;padding:10px;background:#b8860b;border-radius:4px;font-family:lato-bold;font-size:17px;color:#fff}
.cont1{margin-left:auto;margin-right:auto;max-width:1000px;}
